RAG1-ChatBot/RAG1_ChatBot_Practical_GitHub_Safe.json
{
  "name": "RAG1_ChatBot_Praictical",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1mfM0wf_FFJICbU7A-nXmhE0WNEqHwOvO",
          "mode": "list",
          "cachedResultName": "CIB",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1mfM0wf_FFJICbU7A-nXmhE0WNEqHwOvO"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -880,
        -272
      ],
      "id": "e354a5f5-a5ae-43b5-874f-cff37217695a",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL",
          "name": "YOUR_CREDENTIAL"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -576,
        -272
      ],
      "id": "ad05ae99-2917-41ff-9d7d-b0efc1321d84",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL",
          "name": "YOUR_CREDENTIAL"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8nrag1",
          "mode": "list",
          "cachedResultName": "n8nrag1"
        },
        "embeddingBatchSize": 2,
        "options": {
          "pineconeNamespace": "={{ $json.File_name }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        32,
        -272
      ],
      "id": "0a6edb0b-8dfc-40b0-826b-304a7f526171",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL",
          "name": "YOUR_CREDENTIAL"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -256,
        1376
      ],
      "id": "debb845d-ddd8-43c8-80ee-8481fd8a9262",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL",
          "name": "YOUR_CREDENTIAL"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "CIB_Report",
                "value": "={{ $json.name }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        96,
        32
      ],
      "id": "c9e353c2-dc9d-41b9-82c2-1306d9f4311c",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "model": "nomic-embed-text:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        -64,
        48
      ],
      "id": "e66435db-302d-4382-965a-f166639a9def",
      "name": "Embeddings Ollama",
      "credentials": {
        "ollamaApi": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL",
          "name": "YOUR_CREDENTIAL"
        }
      }
    },
    {
      "parameters": {
        "content": "# Knowledge Base\n",
        "height": 704,
        "width": 1284
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -960,
        -352
      ],
      "id": "9b9c7813-9377-4877-acfb-34f5c3a68a38",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "# RAG ChatBot\n",
        "height": 832,
        "width": 960
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        336,
        -352
      ],
      "id": "5ce9dfc1-62d9-4f27-9384-c041a50ba8e3",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('When chat message received').item.json.chatInput }}",
        "options": {
          "systemMessage": "You are an AI assistant specialized in analyzing CIB\u2019s quarterly financial reports. Your main goal is to answer questions accurately and precisely using the vector database, which contains relevant Q4 of 2025 and Q1 of 2026 reports .\n\nProvide only information that comes directly from these reports or verified data. If the requested information is missing or unclear, explicitly state that there is insufficient data.\n\nKeep responses concise and to the point. Include specific numbers and facts whenever possible, and clearly indicate whether the information is sourced from Q4 or Q1 .\nDeliver quick, reliable insights into Apple\u2019s quarterly financials without adding unnecessary details."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        848,
        -208
      ],
      "id": "db286720-26b9-45fa-a881-0f28afc938e3",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        352,
        -176
      ],
      "id": "f3d44f13-9593-41fc-99d3-901313ec9503",
      "name": "When chat message received",
      "webhookId": "REPLACE_WITH_WEBHOOK_ID"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.4,
      "position": [
        832,
        0
      ],
      "id": "61946a0d-12d8-4d3b-b725-2fc55853b5d5",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "description": "Returns documents related to CIB Q4 and Q1 reports, including financials, outlook, margins, and all key details from the earnings reports"
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1.1,
      "position": [
        976,
        -32
      ],
      "id": "283ef5d6-4884-462e-a87c-2fa4bcd5c566",
      "name": "Answer questions with a vector store"
    },
    {
      "parameters": {
        "pineconeIndex": {
          "__rl": true,
          "value": "n8nrag1",
          "mode": "list",
          "cachedResultName": "n8nrag1"
        },
        "options": {
          "pineconeNamespace": "={{ $json.File_Name }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        896,
        160
      ],
      "id": "95565386-4539-442c-b5e7-5666271b973a",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL",
          "name": "YOUR_CREDENTIAL"
        }
      }
    },
    {
      "parameters": {
        "model": "nomic-embed-text:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        992,
        368
      ],
      "id": "90585f0f-1c71-4210-aee4-9ff0d4bbd9b2",
      "name": "Embeddings Ollama1",
      "credentials": {
        "ollamaApi": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL",
          "name": "YOUR_CREDENTIAL"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-3.1-flash-lite",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        1200,
        160
      ],
      "id": "102330f9-5cc8-49a0-8639-fd23d54ff0a8",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL",
          "name": "YOUR_CREDENTIAL"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-3.1-flash-lite",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        688,
        0
      ],
      "id": "8eb43932-de44-4ae5-9092-f6260793d4ac",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL",
          "name": "YOUR_CREDENTIAL"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -880,
        -48
      ],
      "id": "c4b9f39b-7fce-4ddd-bdb8-b4d9e50873ed",
      "name": "When clicking \u2018Execute workflow\u2019"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1mfM0wf_FFJICbU7A-nXmhE0WNEqHwOvO",
            "mode": "list",
            "cachedResultName": "CIB",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1mfM0wf_FFJICbU7A-nXmhE0WNEqHwOvO"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -752,
        144
      ],
      "id": "9806b668-62d5-4ccb-815d-a4e38a797ff4",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL",
          "name": "YOUR_CREDENTIAL"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.File_ID }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -416,
        48
      ],
      "id": "f74142a7-1072-4761-b655-80a4b7c69f78",
      "name": "Download file1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL",
          "name": "YOUR_CREDENTIAL"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -240,
        -144
      ],
      "id": "2867b96c-eb05-445c-bc55-4c593429209f",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        128,
        192
      ],
      "id": "545aae37-bdc4-4d85-b96c-c610e7d3c763",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6598d2d3-b56d-4e15-97a4-584f0ea20b13",
              "name": "File_name",
              "value": "={{ $json.name }}",
              "type": "string"
            },
            {
              "id": "32d7396e-b89d-4ce7-922e-69ce4923e4e3",
              "name": "File_ID",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -624,
        -48
      ],
      "id": "ed38cc02-f172-4030-b60f-281d7dc83cc7",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "884d99f3-3945-4f8f-9d74-9d6367ee476c",
              "name": "File_Name",
              "value": "={{\n$json.chatInput.match(/Q[1-4]\\s\\d{2}/i)\n? $json.chatInput.match(/Q[1-4]\\s\\d{2}/i)[0] + \" Press Release.pdf\"\n: \"\"\n}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        608,
        -192
      ],
      "id": "5ab3d422-3a47-4c6d-9fb8-83b9e04c4f8b",
      "name": "Edit Fields1"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        []
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        []
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Answer questions with a vector store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_vectorStore": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "When clicking \u2018Execute workflow\u2019": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          },
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Download file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "REMOVED",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "nodeGroups": [],
  "id": "WORKFLOW_ID",
  "tags": []
}